body {
    font-family: 'Titillium Web', sans-serif;
    width:85%;
    margin:auto;  
}

#header {
    display:flex;
    flex-direction: column;
    text-decoration: double;
}

#myname {
    text-align: center;
    padding:30px;
    padding-bottom:5px;
    font-size:1.8em;
    font-weight:300;
}

#locationline {
    text-align: center;
    padding:10px;
    font-size:1.3em;
    font-weight:200;
}

#socials {
    display:flex;
    justify-content: flex-end;
}

#navbar {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-top:solid;
    border-bottom:solid;
}

#aboutmecontainer {
    display:flex;
    border-bottom:solid;
    max-height:50vh;
}

#aboutmecontent {
    padding:2%;
    font-size: larger;
}

#aboutmephoto {
    padding:2%;

}

#abouttitle {
    font-weight: bolder;
    font-size: larger;
}

#currentactscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: solid;
}

.sigils {
    width: 80%;
    margin-left: 20%;
}

.socialsimg {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.navbarel {
    padding: 30px;
}

.titleline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activitydiv {
    width:30%;
    padding:1%;
}